# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
log/
logs/

# Database files
*.db
*.sqlite
*.sqlite3

# Mac OS specific files
.DS_Store
.AppleDouble
.LSOverride

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# JSON data files (typically for caching or test data)
review_pool.json
review_performance.json 